.foto {
    border: 3px solid darkred;
    border-radius: 50%;
    margin: 30px ;
    height: 220px;
    padding: 0px;
    }

.header {
    background-color: rgb(102, 3, 3);
    height: 60px;
}

.navigation {
    display: flex;
    align-content: center;
    color: aliceblue;
    font-size: 20px;
    padding: 15px 0px 15px 15px;
    justify-content: flex-end;
   
    
    }
    .navigation :hover {
        color: deepskyblue;
    }
.nav {
    width: 150px;
    height: 30px;
    border-right: 3px solid rgb(178, 34, 34);
    text-align: center;
}
.main{
    background-color: darksalmon;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 500px;
    flex-grow: 1;
    
}
.fio {
    width: 40%;
    height: 40%;
    background-color: aqua;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.contacts {
    width: 60%;
    height: 60%;
    background-color: rgb(224, 133, 20);
}
.language {
    width: 40%;
    height: 15%;
    background-color: rgb(74, 20, 224);
}
.aboutme{
    width: 60%;
    background-color: blueviolet;
}
.skills {
    width: 40%;
    background-color: rgb(61, 204, 80);
}
.footer {
    background-color: coral;
    height: 15%;
}
.headings {
    background-color: red ;
    display: flex;
    height: 45px;
    width: 400px;
    margin: 0px;
    border-radius: 0% 25%  0%;
    text-align:justify
    
}
